<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul class="navigation">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout' %}">Logout</a>
          </li>
      {% else %}
        <li class="nav-item">
            <a href="{% url 'signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}">Login</a>
          </li>
      {% endif %}
    {% block content %}
    {% endblock content %}
</body>

</html>